@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: helvetica, "pingFang SC", "Microsoft Yahei", sans-serif;
    font-size: 14px;
}

body {
    background-color: #FFFFFF;
    max-width: 1920px;
    min-width: 1900px;
    margin: auto; 
}

a{
    color: #000000;
    text-decoration: none;
}

img{
    vertical-align: middle;
}


/* 轮播公共样式 */
.course_swiper .hide {
  opacity: 0;
}
.swiper-button-next,
.swiper-button-prev {
  transition: opacity 0.5s;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 12px!important;
}
.swiper-button-prev,
.swiper-button-next {
  background-color: rgba(70, 67, 67, 0.45);
  width: 36px !important;
  height: 36px !important;
  border-radius: 50%;
  outline: none;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(119, 118, 118, 0.45);
}